@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  background-color:#3feee7 !important;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.App {
  margin-top:110px;
  padding:0;
  
}
.main{
  background-color: #05396b !important;
  color: #edf5e0 !important;
}
.heading{
  background-color: #1f2833;
}

